* {
    box-sizing: border-box;
  }

body {
  margin-top: 125px;
  background: #91D7F2;
  font-family: 'Lexend Tera', sans-serif;
  padding-right: 15px;
  padding-left: 15px;
}

header {
    background: #F2955E;
    height: 70px;
    width: 100%;  
    position: absolute;
    top: 0;
    left: 0;
    color: #F2F0EB; 
    border-bottom: 2px #F25041 solid;
}

li {
  list-style-type: none;
}

.title {
  margin: auto;
  padding: 10px;
}

label {
  font-size: 25px;
  margin-top: 25px; 
}

input {
  font-family: 'Lexend Tera', sans-serif;
  font-size: 12px;
}

#js-search-city {
  margin-top: 25px; 
  margin-bottom: 25px;
}

#js-search-state {
  margin-bottom: 25px;
}

.input_box {
  height: 30px;
  width: 265px;
  background: #F2F0EB;
}

#click {
  background-color: #F2955E;
  width: 175px;
  border: #F2F0EB 2px solid;
  border-radius: 5px;
  text-align: center;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.general{
  margin-top: 25px;
  margin-bottom: 20px;
  line-height: 25px;
}

#city_state {
  font-size: 25px;
  text-align: center;
  margin: 0;
  width: 275px;
}

.box {
  border: 1px #F2F0EB solid;
  height: 125px;
  width: 275px;
  margin-bottom: 20px;
  background: #F25041;
  text-align: center;
}

.textcolor {
  color: #F2F0EB;
}

.boxfontsize {
  font-size: 25px;
}

.smallfont {
  font-size: 10px;
}

.infobox{
  border: 2px solid #5196A6;
  margin-bottom: 50px;
  padding: 30px;
  width: 275px;
}

.infohead {
  font-size: 30px;
}

.infoname {
  font-size: 17px;
}

.lists {
  padding-left: 0;
}

.underline {
  border-bottom: 3px solid #F25041;
}

footer {
  background: #F2955E;
  position: fixed;
  height: 35px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  border-top: #F2F0EB 2px solid
}

.footer{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-left: 0;
  margin-top: 7px;
}

.logo {
  width: 20px;
  height: auto;
}

.hidden {
  display: none;
}

.buttonborder {
  border: 1px #5196A6 solid;
  background: #91D7F2;
  border-radius: 5px;
}


@media only screen and (min-device-width: 768px) {
  .opening {
    text-align: center;
  }
  .general {
    margin-top: 50px;
    font-size: 22.5px;
    line-height: 40px;
  }
  #js-search-city {
    margin-top: 75px; 
    margin-bottom: 50px;
  }
  .firsttext {
    font-size: 22.5px;
  }
  .title {
    font-size: 40px;
  }
  .input_box {
    height: 40px;
    width: 300px;
  }
  input {
    font-size: 20px;
  }
  #all_info_box {
    text-align: center;
  }
  .box {
    display: inline-block;
    width: 357px;
    height: 250px;
  }
  .boxfontsize {
    font-size: 30px;
    margin-top: 60px;
  }
  .smallfont {
    font-size: 18px;
  }
  #city_state {
    font-size: 30px;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
  .infobox{
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 50px;
    width: 720px;
    padding-bottom: 60px;
  }
  .lists {
    text-align: left;
  }
}

@media screen and (min-device-width: 1200px) {
  .general {
    font-size: 30px;
    line-height: 45px;
  }
  .firsttext {
    font-size: 35px;
  }
  .title {
    font-size: 50px;
  }
  header {
    height: 80px;
}
  .input_box {
    height: 45px;
    width: 500px;
  }
  input {
    font-size: 25px;
  }
  #js-search-city {
    margin-right: 25px;
  }
  .box {
    display: inline-block;
    width: 550px;
    height: 285px;
  }
  .boxfontsize {
    font-size: 40px;
    margin-top: 60px;
  }
  .smallfont {
    font-size: 22px;
  }
  #city_state {
    font-size: 50px;
  }
  h1 {
    margin-bottom: 35px;
  }
  .infobox{
    margin-bottom: 50px;
    width: 1100px;
    padding-bottom: 60px;
  }
  .infohead {
    font-size: 40px;
  }
  .infoname {
    font-size: 25px;
  }
  .lists {
    font-size: 20px;
    line-height: 35px;
  }
  .buttonborder {
    width: 100px;
    height: 40px;
    font-size: 17px;
  }
}